<div class="ui top attached demo menu sidebar-menu">
  <a class="item openSidebar">
    <i class="sidebar icon"></i> Menu
  </a>
</div>

<style>
  .openSidebar {
    width:100.58px;
    color:#fff !important;
  }
  .sidebar-menu {
    background: #b5cc18 !important;
  }

</style>
