<div class="ui inverted labeled icon left inline vertical demo sidebar menu">
  <a href="/ucp" class="item">
    <i class="chart area icon"></i>
    <span>Dashboard</span>
  </a>
  <a href="/ucp/shop" class="item">
    <i class="shopping cart icon"></i>
    Shops
  </a>
  <a href="/ucp/product" class="item">
    <i class="cubes icon"></i>
    Products
  </a>
  <a href="/ucp/order" class="item">
    <i class="clipboard list icon"></i>
    Orders
  </a>
  <a href="ucp/setting" class="item">
    <i class="cog icon"></i>
    Setting
  </a>
  <a href="/logout" class="item" style="color:#767676">
    <i class="power off icon"></i>
    Logout
  </a>
</div>

<style>
  .sidebar a.item:hover {
    color:#b5cc18 !important;
  }
</style>
