
<%- partial ('../common/menu.ejs') %>

<div class="ui bottom attached segment">
  <%- partial ('../common/sidebar.ejs') %>
  <div class="container pusher">

    <div class="ui small breadcrumb">
      <a href="/ucp" class="section">Dashboard</a>
      <i class="right chevron icon divider"></i>
      <a href="/ucp/product" class="section">Product</a>
      <i class="right chevron icon divider"></i>
      <div class="active section">Add New Product</div>
    </div>

    <div class="ui piled green segment" style="max-width: 500px">
      <h2 class="ui header">Connect Shopify Store</h2>
      <p>Easily create and fulfil products for your existing Shopify Store with Represent. Connect your store to get started.</p>

    </div>
  </div>
</div>
